
@{
    Layout = "~/Views/Shared/_EnglishLayout.cshtml";
}

<br />
<h1 class=" kleurBlauw centerAlign">
    Home
</h1>
<hr />
<br />
<h4 class="subtitles">Welcome to our website !</h4>

<p>
    We welcome you to our website! This is the website of CubieBot, a project made by 
    2 final year students from the Óscar Romerocollege in Dendermonde. The CubieBot is a robot 
    which can automatically solve a Rubik's Cube. 
    The CubieBot is still being made. We will keep you up-to-date!

    <br />
</p>
<br />


<img class="logo" src="~/Content/Images/Logo.png" alt="logo" style="width: 100%; height: auto; margin-bottom: 40px;" />
<h4 class="subtitles">Logo</h4>
<p>
    The logo explains itself if you know what the name means. On the upperlayer you can 
    see our name of the project and the acronym RSS that stands for 'Robin, Siebe, Solver'. 
    In the background you can see a Rubik's cube in the colours of our house style.

    <br />
</p>

<hr style="background-color: rgba(33, 94, 110, 0.6); margin: 25px 0 25px 0" />

<h4 class="subtitles">Why this project?</h4>
<p>
    We have chosen this project because we are both quite interested in solving a Rubik's 
    Cube and we thought: 'This can be done automatically.' So we want to tackle the challenge.

    <br />Another reason for this project is to help other people to solve a Rubik's Cube, 
    because this can create some frustration for a lot of people. That is why we are here to help you out!

    <br />
</p>
<hr style="background-color: rgba(33, 94, 110, 0.6); margin: 25px 0 25px 0" />
<h4 class="subtitles">How did we make it?</h4>
<p>
    We're still busy making the CubieBot. We will keep you up-to-date.

    <br />
</p>