@{
    ViewBag.Title = "Home pagina";
    Layout = "~/Views/Shared/_NederlandsLayout.cshtml";
}

<br />
<h1 class=" kleurBlauw centerAlign">
    Home
</h1>
<hr />
<br />
<h4 class="subtitles">Welkom op onze website!</h4>

<p>
    We heten u van harte welkom op onze website! Dit is de website van CubieBot, een project gemaakt door 2 laatstejaarsstudenten 
    van het Óscar Romerocollege te Dendermonde. De CubieBot is een Robot die automatisch een Rubik’s Cube kan oplossen. 
    De CubieBot is momenteel nog steeds volop in de maak. We houden u op de hoogte!

    <br />
</p>
<br />


<img class="logo" src="~/Content/Images/Logo.png" alt="logo" style="width: 100%; height: auto; margin-bottom: 40px;" />
<h4 class="subtitles">Logo</h4>
<p>
    Het logo legt zichzelf uit als u weet wat de naam betekent. Op de voorgrond
    ziet u onze naam van ons project en het acroniem RSS dat staat voor ‘Robin,
    Siebe, Solver’. Op de achtergrond ziet u een Rubik’s Cube de kleuren van onze huisstijl.

    <br />
</p>
<hr style="background-color: rgba(33, 94, 110, 0.6); margin: 25px 0 25px 0" />
<h4 class="subtitles">Waarom dit project?</h4>
<p>
    We hebben dit project gekozen omdat we beide zéér geïnteresseerd
    zijn in het oplossen van een Rubik’s Cube en we dachten… Dit kan toch automatisch
    vandaar dat we de uitdaging zijn aangegaan en zijn begonnen. <br />
    Een tweede reden voor dit project is voor andere mensen te helpen een Rubik’s Cube
    op te lossen, want dit wekt bij de meeste mensen toch wat frustratie op. Daarom dat wij er zijn om te helpen!

    <br />
</p>
<hr style="background-color: rgba(33, 94, 110, 0.6); margin: 25px 0 25px 0" />
<h4 class="subtitles">Hoe hebben we het gemaakt?</h4>
<p>
    We zijn nog steeds volop bezig met het maken van de CubieBot. We houden u op de hoogte!

    <br />
</p>