@using MeerdereTalenCubieBotWebsite.Models;

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_NederlandsLayout.cshtml";

    LogBoekElementen logboekEle= ViewBag.DataElementen;
    List<LogboekElement> LijstElements = logboekEle.lijstEle;
}

    <h1 class=" kleurBlauw centerAlign">
        Logboek
    </h1>
    <p class="centerAlign">Hieronder vindt u al de activiteiten die we gedaan hebben om de CubieBot in elkaar te steken.</p>
    <h4 class="subtitles centerAlign" style="margin-top:50px;font-size:25px">Siebe & Robin</h4>

    <table class="table table-striped" style="border:2px solid rgb(33, 94, 110)">
        <tr>
            <th>
                Wanneer?
            </th>
            <th>
                Hoelang?
            </th>
            <th>
                Wat?
            </th>
            <th>
                Naam?
            </th>
        </tr>




        @foreach (var item in LijstElements)
        {
            //if (item.Naam == "Siebe")
            //{
            <tr>
                <td>
                    @Html.DisplayFor(lijstItem => item.Wanneer)
                </td>
                <td>
                    @Html.DisplayFor(lijstItem => item.Hoelang)
                </td>
                <td>
                    @Html.DisplayFor(lijstItem => item.WatNed)
                </td>
                <td>
                    @Html.DisplayFor(lijstItem => item.Naam)
                </td>
            </tr>
            @*}*@
        }
    </table>

