
@{
    ViewBag.Title = "Nous";
    Layout = "~/Views/Shared/_FrancaisLayout.cshtml";
}

<br />
<h1 class=" kleurBlauw centerAlign">
    Qui sommes-nous ?
</h1>
<hr style="margin-bottom: 0px;" />
<br />

<p class="centerAlign">
    Vous trouverez ci-dessous les informations sur qui nous sommes et comment nous joindre.

    <br />
</p>
<br />

<center>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="cardoverlay">
                    <div class="Card">
                        <div class="TopCard">
                            <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/69587542_151458599261494_2472075419143110656_n.jpg?_nc_cat=111&_nc_oc=AQm0NFFjtupDf1tok4wDFDaDmWWdwiMuTAC08rX4wMuCfM4AjublhNfPpr9WzMnjUIRHpq_CiEjkgkdPayg7Ti5Z&_nc_ht=scontent-bru2-1.xx&oh=68e532081486bb997a5883d5caff2310&oe=5E27C10D" alt="Robin" style="height: 100%; width: 100%;" />
                        </div>
                        <div class="BottomCard">

                            <h1 class="cardTitle">Robin Vermeir</h1>
                            <p class="cardDate" style="margin-bottom:11px;">17 Ans, Óscar Romerocollege, Lebbeke</p>
                            <p class="cardDate" style="font-size:90%">robin.vermeir@student.romerocollege.be</p>
                            <p id="text" style="color: black"></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cardoverlay">
                    <div class="Card">
                        <div class="TopCard">
                            <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t31.0-8/20616966_1724960391142013_8478565015172689067_o.jpg?_nc_cat=109&_nc_oc=AQnLWWeGoj3We4CLekC_r0ZcyE_Rs0aoNmUwTxnaWYCw67E6upECVCVIYqClnzCAhKnLEaSZx5zGgkiA1WNrfVhF&_nc_ht=scontent-bru2-1.xx&oh=84825939e886368f01a8b829cc81a84b&oe=5E31D643" alt="Siebe" style="height: 100%; width: 100%;" />
                        </div>
                        <div class="BottomCard">

                            <h1 class="cardTitle">Siebe Van Campenhout</h1>
                            <p class="cardDate" style="margin-bottom:11px">17 Ans, Óscar Romerocollege, Merchtem</p>
                            <p class="cardDate" style="font-size:90%">siebe.vancampenhout@student.romerocollege.be</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

