@{
    ViewBag.Title = "Over ons";
    Layout = "~/Views/Shared/_NederlandsLayout.cshtml";
}
<br />
<h1 class=" kleurBlauw centerAlign">
    Wie zijn wij?
</h1>
<hr style="margin-bottom: 0px;" />
<br />

<p class="centerAlign">
    Hieronder vindt u de informatie van wie we zijn en hoe u ons kan bereiken.

    <br />
</p>
<br />

<center>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="cardoverlay">
                    <div class="Card">
                        <div class="TopCard">
                            <img src="~/Content/Images/RobinFoto.png" alt="Robin" style="height: 100%; width: 100%;" />
                        </div>
                        <div class="BottomCard">

                            <h1 class="cardTitle">Robin Vermeir</h1>
                            <p class="cardDate" style="margin-bottom:11px;">17 Jaar, Óscar Romerocollege, Lebbeke</p>
                            <p class="cardDate"  style="font-size:90%">robin.vermeir@student.romerocollege.be</p>
                            <p id="text" style="color: black"></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cardoverlay">
                    <div class="Card">
                        <div class="TopCard">
                            <img src="~/Content/Images/SiebeFoto.png" alt="Siebe" style="height: 100%; width: 100%;" />
                        </div>
                        <div class="BottomCard">

                            <h1 class="cardTitle">Siebe Van Campenhout</h1>
                            <p class="cardDate" style="margin-bottom:11px">17 Jaar, Óscar Romerocollege, Merchtem</p>
                            <p class="cardDate" style="font-size:90%">siebe.vancampenhout@student.romerocollege.be</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>