body
{
    background-color: white;
    
}

nav {
    padding: 12px;
    width: 100%;
    height: 50px;
    /*background-color: #275559;*/
    background-image: linear-gradient(to right, #152e30,#275559,#275559,#275559,#152e30);
    /*background-image: linear-gradient(to right, #1a3d47,#1a3d47,#275559,#275559, #275559);*/
    border-bottom: 2px solid #091d1f;
}



nav > .container {
    width: 90%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    transition: 1s;
}


nav > .container:hover {
    /*width: 60%;*/
}

.titleNav {
    color: white;
}

.linksNav{
    text-align: right;
}


.linksNav > a{
    margin-right: 3%;
    text-decoration: none;
    color: white;
    transition: .2s;
}

.linksNav > a:hover {
    color: #7a8f91;
}

.imgNav {
    width: 40px;
    margin-right: 15px;
    
}