@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Geblokkeerd";
}

<hgroup>
    <h1 class="text-danger">Geblokkeerd.</h1>
    <h2 class="text-danger">Dit account is tijdelijk geblokkeerd. Probeer later nog eens.</h2>
</hgroup>
