
@{
    ViewBag.Title = "Bestanden";
}

<div class="row">
    <div class="col d-flex justify-content-center">
        <h2 class="text-center mt-4 mb-4">Bestanden </h2>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <a href="https://romerocollege-my.sharepoint.com/:f:/g/personal/siebe_vancampenhout_student_romerocollege_be/EskRFP8CZSxHtd7cSDn1EB8BtDBvcH-Uxa4xAuvSaZRNUw?e=RHRhfR" class="btn btn-outline-dark text-bold" target="_blank">Ga Naar Onze Bestanden!</a>
    </div>
</div>
