
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_FrancaisLayout.cshtml";
}

<br />
<h1 class=" kleurBlauw centerAlign">
    Home
</h1>
<hr />
<br />
<h4 class="subtitles">Bienvenue sur notre website !</h4>
<p>
    Nous vous souhaitons la bienvenue sur notre website ! 
    Ceci est le site web de CubieBot, un projet réalisé par deux étudiants de dernière année 
    du Collège Óscar Romerocollege à Dendermonde. Le CubieBot est un robot qui peut résoudre 
    automatiquement un Rubik's Cube. 
    Le CubieBot est encore en cours d'élaboration. Nous vous tiendrons informés !

    <br />
</p>
<br />


<div class="row">
    <div class="col">

        <h4 class="subtitles">Le logo</h4>
        <p>
            Le logo s'explique de lui-même si vous savez ce que le nom signifie. Au premier plan
            vous verrez le nom de notre projet et l'acronyme RSS qui signifie'Robin',
            "Siebe, Solver. En arrière-plan, vous pouvez voir un Rubik's cube aux couleurs de notre style maison.
            
            <br />
        </p>
        <hr style="background-color: rgba(33, 94, 110, 0.6); margin: 25px 0 25px 0" />
        <h4 class="subtitles">Pourquoi ce projet?</h4>
        <p>
            Nous avons choisi ce projet parce que nous sommes tous les deux très intéressés
            par la résolution d'un Rubik's Cube et nous avons pensé... Cela peut se faire automatiquement
            donc nous avons relevé le défi et avons commencé.<br />

            Une deuxième raison pour ce projet est d'aider d'autres personnes à résoudre un Rubik's Cube,
            parce que cela crée une certaine frustration pour la plupart des gens. C'est pourquoi nous sommes là pour vous aider !

            <br />
        </p>


        <hr style="background-color: rgba(33, 94, 110, 0.6); margin: 25px 0 25px 0" />
        <h4 class="subtitles">Comment l'avons-nous fait?</h4>
        <p>
            On est toujours occupés à faire le CubieBot. Nous vous tiendrons informés !

            <br />
        </p>

    </div>
    <div class="col"><img class="logo" src="~/Content/Images/Logo.png" alt="logo" style="width: 100%; height: auto; margin-bottom: 40px;" /></div>
</div>

